@using NoughtsAndCrosses.Business
@model NoughtsAndCrosses.Web.Models.GameTestViewModel

@{
    ViewBag.Title = "GameTest";
}

<style>
    td {
        width: 50px;
        height:50px;
        text-align:center;
        vertical-align: central;
        font-weight: bold;
    }

    .x{
        color: red;
    }
</style>

<h2>Welcome to my Awesome game!!!</h2>

<div>
    <p>@Model.Info</p>
</div>

@if (Model.IsFinished)
{
    @Model.Winner
}



@using(Html.BeginForm("GameTest", "Home"))
{
    <input name="x" value="1" type="hidden" />
    <input name="x" value="1" type="hidden" />
    <select name="symbol">
        <option value="0">0</option>
        <option value="x">X</option>
        <option value="y">Y</option>
    </select>

    <input type="submit" value=">" />
}




<table border="1">
    @for (int i = 0; i < 3; ++i)
    {
        <tr>
            @for (int j = 0; j < 3; ++j)
            {
                var temp = Model.GameBoard.GetBoard()[i, j];
                

                <td class="@(temp == 'X' ? "x" : "nothing" )">@if ((temp == 'E'))
                {
                    <p>[#]</p>
                }

                else
                {
                    <p>[@(Html.Encode(temp))]</p>
                }
                </td>
            }
        </tr>
    }
</table>


<br/>

<p>@Model.CurrentPlayer to play!</p>

<form action="/home/gametest" method="post" >    
    <input type="hidden" value="@Model.CurrentPlayer" name="MyProperty.SomeProperty"/>
    <div>
        @Html.LabelFor(m => m.X, "Enter X")
        @Html.TextBoxFor(m => m.X)
        @Html.ValidationMessageFor(m => m.X)
    </div>

    <div>
        @Html.LabelFor(m => m.Y, "Enter Y")
        @Html.TextBoxFor(m => m.Y)
        @Html.ValidationMessageFor(m => m.Y)
    </div>

    <input type="button" value="New Game" onclick="NewGame">

    <input type="submit" value="Submit"/>
</form>


@*<div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
