@using NoughtsAndCrosses.Business
@model NoughtsAndCrosses.Web.Models.GameTestViewModel

@{
    ViewBag.Title = "GameTest";
}

<style>
    td {
        width: 100px;
        height: 100px;
        text-align: center;
        vertical-align: central;
        font-weight: bold;
    }

    .x {
        color: red;
        fill: orangered;
        font-size: xx-large;
    }

    .o {
        color: blue;
        fill: lightblue;
        font-size: xx-large;
    }

    .Error {
        color: red;
        font-weight: bolder;
    }

    .title {
        font-weight: 900;
        opacity: 0.7;
        text-align: center;
        font-size: xx-large;
    }

    .submittile {
        width: 85px;
        height: 85px;
        font-size: xx-large;
    }

    .toplay {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }

    .newgame {
        font-size: large;
    }
</style>

<h2 class="title">Noughts and Crosses</h2>

<br />

<div>
    <p class="toplay">@Model.Info</p>
</div>

@if (Model.IsFinished)
{
    <p class="toplay">@Model.Winner</p>
}

<br />

@if (!Model.IsFinished)
{
    <p class="toplay">@Model.CurrentPlayer to play</p>
}

<br />

<table border="1" , align="center">
    @for (int i = 0; i < 3; ++i)
    {
        <tr>
            @for (int j = 0; j < 3; ++j)
            {
                var tile = Model.GameBoard.GetBoard()[i, j].ToString();
                <td>
                    @if ((tile[0] == 'E'))
                    {
                        using (Html.BeginForm("GameTest", "Home"))
                        {
                            <input name="x" value=@i type="hidden" />
                            <input name="y" value=@j type="hidden" />

                            <input class="submittile" type="submit" value=" " />
                        }
                    }
                    else
                    {
                        if (tile[0] == 'X')
                        {
                            <p class="x">@tile</p>
                        }
                        else if (tile[0] == 'O')
                        {
                            <p class="o">@tile</p>
                        }
                        else
                        {
                            @*<p class="Error">ERROR!</p>*@
                            @tile
                        }
                    }

                </td>
            }
        </tr>
    }
</table>


<br />

@using (Html.BeginForm("GameTest", "Home"))
{
    <input name="NewGame" value="true" type="hidden" />
    <input class="newgame" type="submit" value="New Game" />
}

@*<div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
