@using NoughtsAndCrosses.Business
@model NoughtsAndCrosses.Web.Models.GameTestViewModel

@{
    ViewBag.Title = "GameTest";
}

<h2>Welcome to my Awesome game!!!</h2>

<div>
    <p>@Model.Info</p>
</div>

@if (Model.IsFinished)
{
    @Model.Winner
}


<table>
    @for (int i = 0; i < 3; ++i)
    {
        <tr>
            @for (int j = 0; j < 3; ++j)
            {
                @*<td>@Html.ActionLink(Model.GameBoard.GetBoard()[i, j].ToString(), "SetValue", Model.GameBoard.SetValue(0, 0, 'X'))</td>*@

                <td>@Model.GameBoard.GetBoard()[i,j]</td>
            }
        </tr>
    }
</table>

<br/>

<p>@Model.CurrentPlayer to play!</p>

@if (Model.IsStarting)
{
    <form action="/home/gametest" method="post">
        <div>
            <label for="PlayerStart">Which Player Starts?</label>
            <input type="text" id="PlayerStart" name="PlayerStartInput" maxlength="1"/>
        </div>

        <input type="submit" value="Select Player"\>
    </form>
}

<form action="/home/gametest" method="post" >    
    <div>
        <label for="x">X</label>
        <input type="number" id="x" name="x" maxlength="1"/>
    </div>

    <div>
        <label for="y">Y</label>
        <input type="number" id="y" name="y" maxlength="1"/>
    </div>

    <div>
        <label for="c">C</label>
        <input type="text" id="c" name="c"  maxlength="1"/>
    </div>

    <input type="submit" value="Submit"/>
</form>


@*<div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
